{
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSameLine": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 90,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"]
}
